.banner{
    position: relative;

}
.banner__img{
    width: 100%;
    mask-image: linear-gradient(to right,transparent,black 75%);
    -weblit-mask-image: linear-gradient(to right,transparent,rgb(236, 27, 27) 75%);
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 10%,
      transparent
    );
}
.banner__Caption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;

}
.caption__title{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}
.banner__Caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}
.banner__btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.banner__btns .btn img{
    width: 25px;

}
.banner__btns .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;

}
.banner__btns .btn.dark__btn{
    columns: #fff;
    background: #6d6d6eb3;
}

.banner .btn:hover{
    background: #ffffffbf;
}
.banner .btn.dark__btn:hover{
    background:#6d6a6e66;
}
.more__cards{
    padding-left: 6%;
}
@media (max-width:1024px) {
    .banne__Caption .title__cards{
        display: none;
    }
    .banner__btns{
        margin-bottom: 30px;
    }
    
}
@media (max-width:800px){
    .banner__Caption{
        padding-left: 4%;

    }
    .caption__img{
        margin-bottom: 10px;
        width: 40%;
    }
    .banner__Caption p{
        font-size: 12px;
        max-block-size: 10px;
    }
    .banner__btns img{
        width: 20px;
    }
    .more__cards{
     padding-left: 4%;   
    }

}
@media (max-width:500px){
    .caption__img{
        display: none;
    }
    .banner__btns img{
        width: 15px;
    }
    .btn{
        padding: 4PX 10PX;
        gap: 5PX;
        font-size: 10PX;
    }
}