.header {
  position: sticky;
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 10%,
      transparent
    );
    z-index: 1;
    top: 0;
  }
  .header__left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header__left img {
    width: 50px;
  }
  .header__left ul{
      display: flex;
      list-style: none;
      gap: 20px;
  }
  .header__left ul li{
      cursor: pointer;
  }
  .header__right{
      display: flex;
      gap: 20px;
      align-items: center;
  }
  
  .header__right ul{
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .header__right ul li{
    cursor: pointer;
  }
  
  
  .header .drop__down{
      position: relative;
      top: 100%;
      right: 0;
      width: max-content;
      background: #e90404;
      padding: 18px 22px;
      border-radius: 2px;
      text-decoration: underline;
      z-index: 1;
      font-size: 13px;
      font-weight: 400;
      display: none;
  }
  .header .drop__down p{
      font-size: 13px;
      cursor: pointer;
  }
  .header__right:hover .drop__down{
   display: block;
  }
  .nav-dark{
    background: #141414;
  }
  @media(max-width:800px){
    .header{
      padding: 20px 4%;
    }
    .header__left ul{
      display: none;
    }
    .header img{
      height: 25px;
    }
  
  }
  @media(max-width:500px){
    .header img{
      height: 20px;
    }
    .header__right{
      gap: 10px;
    }
  }