.footer{
    padding: 30px 4%;
    max-width: 1000px;
    margin: 0 auto;
}
.footer-icons ul{
    display: flex;
    gap: 20px;
    margin: 40px 0;
    list-style: none;
    cursor: pointer;

}

.inner-footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin-bottom: 30px;
    list-style: none;
}
.copyright-text{
    color:gray ;
    font-size: 14px;
}
@media (max-width:800px) {

    .footer ul{
        grid-template-columns: auto auto;
        gap: 8px;
        font-size: 14px;
    }
}  
@media (max-width:500px) {
    .footer ul{
        grid-template-columns: auto;
        gap: 8px;
        font-size: 14px;
    }
}     
